.Sequencer {
  padding: 30px;
}

.pad {
  cursor: pointer;
  user-select: none;
  padding: 15px;
  margin: 3px;
}
.controls {
  margin-bottom: 30px;
  text-align: center;
}
.btn {
  border: solid 2px #DDD;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px; padding-right: 20px;
  margin-left: 5px; margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  width: 10px;
}
.bpm {
  vertical-align: middle;
  padding-bottom: 16px;
}

.pad:hover {
  background-color: #DADADA;
}
p.cnt {
  font-size: 12px;
  position: absolute;
  padding-left: 70px;
  margin-top: -10px;
}